<html lang="zh-cn"><head>
		<meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui" charset="UTF-8">
		<title>加载顶部、底部</title>
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="iconfont/iconfont.css">
		<link rel="stylesheet" href="css/compoment.css">
		<style>
			.opacity {
				-webkit-animation: opacity 0.3s linear;
				animation: opacity 0.3s linear;
			}
			
			@-webkit-keyframes opacity {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			
			@keyframes opacity {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			
			.dropload-up {
				text-align: center;
				margin-top: 100px;
			}
			
			.dropload-down {
				text-align: center;
				margin-bottom: 100px;
			}
		</style>
		
	</head>

	<body class="index" cz-shortcut-listen="true">
		<div class="index-top">
			<div class="index-top__header fn__flex">
				<a href="https://hacpai.com" class="index-top__logo">
					<i class="icon-home" style="font-size: 22px;position: relative;top: 3px;right: 1px;"></i>
				</a>
				<form class="fn__flex-1" action="https://hacpai.com/search">
					<input placeholder="Search HacPai" type="text" name="key" id="algoliaSearch" value="">
					<input type="submit" class="fn__none" value="">
				</form>
				<a href="https://hacpai.com/pre-post" class="fn__flex-inline">
					<i class="icon-add"></i>
					<span>&nbsp;发帖墨风</span>
				</a>
			</div>
			<div class="index-top__nav">
				<a href="https://hacpai.com/recent">最新</a>
				<a href="https://hacpai.com/domain/play">领域</a>
				<a href="https://hacpai.com/qna">问答</a>
				<a href="https://hacpai.com/watch">
					关注</a>
				<a href="https://hacpai.com/city/my">
					长沙</a>
				<a href="https://hacpai.com/chainbook">链书</a>
			</div>
		</div>
		<div class="content" style="margin-top: 68px;">
			<ul class="lists" id="listbox">
				
				 <li class="list__item" v-for="(blog,index) in blogs">
					<div class="list__meta fn__flex-inline">
						<a rel="nofollow" class="ft__gray" href="https://hacpai.com/member/88250">
							<img class="avatar" src="https://img.hacpai.com/avatar/1353745196354_1515855515308.png?imageView2/1/w/80/h/80/interlace/0/q/100" style="background-image: none; background-color: transparent;"> &nbsp;
						</a>
						88250 &nbsp; • &nbsp;
						<a class="ft__gray" href="https://hacpai.com/article/1535191016145#comments" target="_self">
							<span class="ft__level0">9</span> 回帖
						</a>
						&nbsp; • &nbsp;
						<a class="ft__gray" href="https://hacpai.com/article/1535191016145" target="_self">
							<span class="ft__level2">211</span> 浏览
						</a>
					</div>
					<div class="fn__5"></div>
					<div class="fn__flex">
						<div class="fn__flex-1">
							<h2 class="list__title">
                        <a rel="bookmark" href="https://hacpai.com/article/1535191016145">{{blog.name}}
                        </a>
                    </h2>
							<div class="fn__5"></div>
							<div class="fn__flex">
								<a class="fn__flex-1 list__content" href="https://hacpai.com/article/1535191016145">
									{{blog.name}}
								</a>
							</div>
						</div>
						<a href='https://hacpai.com/article/1519358661759' class='list__img'>
							<img :src="'http://www.itbooking.net/'+blog.img" onerror='imgError(this)'  width='105' height='95'>
						</a>
					</div>
					
					<div>
						<a rel="tag" class="list__tag" href="https://hacpai.com/tag/HacPai">黑客派</a>
						&nbsp;
						<a rel="tag" class="list__tag" href="https://hacpai.com/tag/%E6%A6%9C%E5%8D%95">榜单</a>
						&nbsp;
						<a rel="tag" class="list__tag" href="https://hacpai.com/tag/GitHub">GitHub</a>
						&nbsp;
					</div>
				</li>
				
			</ul>
		</div>
		<div class="index-bottom">
			<a href="https://hacpai.com" class="index-bottom__item
         index-bottom__item--current
     ">
				<i class="icon-home"></i> 首页
			</a>
			<a href="https://hacpai.com/activities" class="index-bottom__item">
				<i class="icon-send"></i> 发现
			</a>
			<a href="https://hacpai.com/notifications" class="index-bottom__item" id="indexBottomMsg">
				<i class="icon-message"></i> 消息
			</a>
			<a href="https://hacpai.com/member/kekesam123" class="index-bottom__item">
				<i class="icon-user"></i> 我的
			</a>
		</div>
		
		
		<script src="js/jquery.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/dropload/dropload.min.js"></script>
		<script>
			$(function() {
				
				// dropload
				$('.content').dropload({
					scrollArea: window,//触发他的范围
			        distance:100,//拉动距离
			        autoLoad:true,//自动加载
			        threshold : 150,
					domUp: {
						domClass: 'dropload-up',
						domRefresh: '<div class="dropload-refresh">↓下拉刷新-自定义内容</div>',
						domUpdate: '<div class="dropload-update">↑释放更新-自定义内容</div>',
						domLoad: '<div class="dropload-load"><span class="loading"></span>加载中-自定义内容...</div>'
					},
					domDown: {
						domClass: 'dropload-down',
						domRefresh: '<div class="dropload-refresh">↑上拉加载更多-自定义内容</div>',
						domLoad: '<div class="dropload-load"><span class="loading"></span>加载中-自定义内容...</div>',
						domNoData: '<div class="dropload-noData">暂无数据-谢谢惠顾</div>'
					},
					
					loadUpFn: function(me) {
						// 锁定
						me.lock();
						setTimeout(function(){
							window.location.href = window.location.href; 
							me.resetload();
							me.unlock();
							me.noData(false);
						},1000);
					},
					loadDownFn: function(me) {
						if(this.timer)clearTimeout(this.timer);
						this.timer = setTimeout(function(){
							vue.pageNo = ++vue.pageNo;
							vue.loadData(function(flag,blogdata){
								console.log(blogdata.data.pages ,vue.pageNo);
								// 无数据 边界判断
								// 每次数据加载完，必须重置
								me.resetload();
								// 解锁
								me.unlock();
								if(blogdata.data.pages == vue.pageNo){
									me.noData(true);
									me.resetload();
									me.lock();
								}
							}); 
						},300);
						
					}
				});
			});
			
			
			var vue = new Vue({
				el:"#listbox",
				data:{blogs:[],pageNo:1,pageSize:10},
				created:function(){
					this.loadData()
				},
				methods:{
					loadData:function(callback){
						var pageNo = this.$data.pageNo;
						var pageSize = this.$data.pageSize;
						var promise =$.get("http://localhost:8080/blogs/"+pageNo+"/"+pageSize);
						promise.done(function(json){
							//数据的追加
							vue.$data.blogs = vue.$data.blogs.concat(json.data.list);
							callback && callback(true,json); 
						});
					}
				}
			});
			
			function imgError(obj){
				obj.src = "http://www.itbooking.net/resources/images/noimage.gif";
			};
		</script>
	
</body></html>